<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="page-header">
            <h1 class="text-center">Simple text</h1>
        </div>
    </header>
    <nav></nav>
    <div>
        {% block main %}{% endblock %}
    </div>
</body>
</html>